In [1]:
import math

# 1.Calculator Function
    a. Function to find the factorial of a number b. Function to convert degree to Fahrenheit Write a new program in file “maths.py” such that you import functions of the file calc.py to your new program. Use from import statement to import the functions from the calc module

In [1]:
from calc import factorial
from calc import ConvertFtoC

In [2]:
factorial(5)

120

In [123]:
ConvertFtoC(98)

36.66666666666667

In [ ]:
def Sum(a,b):
    return a+b
def sub(a,b):
    return a-b
def multiply(a,b):
    return a*b
def division(a,b):
    return a/b
def remainder(a,b):
    return a%b
print("Mathematical Operation")
print('1.Additon')
print('2.Subtraction')
print('3.mutltiply')
print('4.division')
print('5.remainder')

while True:
    choice = input("Enter the number (1/2/3/4/5):")
    if choice in ('1','2','3','4','5'):
        num1 = float(input("Enter the num1 number:"))
        num2 = float(input("Enter the num2 number:"))
        
    if choice == '1':
        print(num1 , "+", num2, "=" , Sum(num1,num2))
        
    elif choice == '2':
        print(num1 , "-", num2, "=" , sub(num1,num2))
        
    elif choice == '3':
        print(num1 , "*", num2,  "=" , multiply(num1,num2))
        
    elif choice == '4':
        print(num1 , "/", num2 , "=" , division(num1,num2))
        
    elif choice == '5':
        print(num1 , "%", num2 , "=" , remainder(num1,num2))
        
    next_calculation = input("Let's do next calculation? (yes/no): ")
    if next_calculation == "no":
        break
else:
    print("Invalid Syntax")

Mathematical Operation
1.Additon
2.Subtraction
3.mutltiply
4.division
5.remainder

# 2. Fibnocci Series

In [6]:
def fib():
    a,b = 0,1
    while True:
        yield a
        a,b = b,a+b
funtion1 = fib()

for i in range(5):
    print(next(funtion1))
else:
    print("Loop terminate")

0
1
1
2
3
Loop terminate

# 3. iterator class to iterate over a sequence of values in the reverse direction

In [22]:
def name(str):
    length = len(str)
    for i in range(length-1,-1,-1):
        yield str[i]

In [23]:
str='Rajesh'
myname = name(str)

In [24]:
print(next(myname))
print(next(myname))
print(next(myname))
print(next(myname))
print(next(myname))
print(next(myname))

h
s
e
j
a
R

#### 4. Write a function “salary” that takes in base pay, HRA and special allowance as arguments and returns the sum of all the 3 salary elements. Then create a decorator function to add an additional element “Tax” (30% of base pay) and assign it back to base pay variable, and return the function (i.e., the final calculation of salary also includes tax)

In [66]:
def employee(func):
    def salary1(Basepay,HRA,SA):
        func(Basepay,HRA,SA)
        print("Basic salary:", Basepay)
        print("HRA Salary:",HRA)
        print("Special Allowance:",SA)
    return salary1

In [67]:
@employee
def salary(Basepay,HRA,SA):
    Basepay = Basepay*0.30
    print("Netpay:",Basepay)
    Tot_sal = Basepay+HRA+SA
    print("Total salary:",Tot_sal)
    return

In [68]:
salary(20000,10000,5000)

Netpay: 6000.0
Total salary: 21000.0
Basic salary: 20000
HRA Salary: 10000
Special Allowance: 5000

### 5. Write 3 examples on possible methods to changing a tuple
        1.changing tuple list to tuple

In [79]:
number=(1,2,3,4,[5,6,7,8])

In [80]:
type(number)

tuple

In [82]:
number[4][2]

7

In [86]:
# string_dict=("Rajesh",456,["A":2,"B":5])

SyntaxError: invalid syntax (Temp/ipykernel_39632/12864710.py, line 1)

In [95]:
tuple1 = ('Rajesh','Ramesh','murali',4568,{'A':5,'B':10})

In [107]:
a,b,c,d,e =tuple1

In [108]:
print(a)
print(b)
print(c)
print(d)
print(e)

Rajesh
Ramesh
murali
4568
{'A': 5, 'B': 10}

In [104]:
languages = ['Python', 'Java', 'JavaScript']

In [105]:
enumerate_prime = enumerate(languages)
print(list(enumerate_prime))

((0, 'Python'), (1, 'Java'), (2, 'JavaScript'))

In [106]:
type(enumerate_prime)

enumerate